  <div class="row">
    <nav class="navbar orange col-sm-12">
      <ul class="list-unstyled col-md-2"><strong>Cities</strong>
        <li>Seattle</li>
        <li>Portland</li>
      </ul>
      <ul class="list-unstyled col-md-2"><strong>Contact Us</strong>
        <li>Email</li>
      </ul>
      <ul class="list-unstyled col-md-2"><strong>About Us</strong>
      </ul>
    </nav>
  </div>
  <p class="center">&copy Copyright Altruist 2017</p>
