<div class="row orange">
  <div class="col-sm-1">
    <img alt="Brand" src="../images/altruist.png">
  </div>
  <div class="col-sm-2">
   <h1 class="main-header">Altruist</h1>
   <p>giving back with love</p>
  </div>
  <div class="col-md-6">
    <img height="150px" width="500px" src="../images/volunteer.jpg">
  </div>
  <div class="col-md-1 a-padding">
    <a href="../register">Register</a>
  </div>
  <div class="col-md-1 a-padding">
    <a href="../login">Login</a>
  </div>
</div>
