<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Altruist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body class="container well">
    <header>
      <% include partials/header %>
    </header>
    <div class="row">
       <div class="col-md-7 col-md-offset-1">
        <ul class="nav nav-tabs nav-justified" id="tabs-first">
          <li class="active"><a data-toggle="tab" href="#volunteer"><strong>Volunteers</strong></a></li>
          <li><a data-toggle="tab" href="#nonprofit"><strong>Nonprofits</strong></a></li>
        </ul>
      </div>
      <div class="tab-content col-md-8 col-md-offset-1 content-bar">
        <div id="volunteer" class="tab-pane fade in active" height="500px">
            <p>Are you looking for opportunities to give back to the community? Register on Altruist and be matched with opportunities at nonprofits in your area.</p>
            <img src="http://s.hswstatic.com/gif/volunteer-in-nursing-home-1.jpg">
        </div>
        <div id="nonprofit" class="tab-pane fade">
          <p>Is your organization looking for volunteers? Register on Altruist and find people who are looking to give back to their community by sharing their time and talents.</p>
          <img src="http://jacksonville.com/sites/default/files/imagecache/superphoto/13604807.jpg">
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-2 login">
        <% include login %>
      </div>
    </div>

    <script  src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script  src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
        $('#tabs-first a').hover(function (e) {
          e.preventDefault()
          $(this).tab('show')
       });
    </script>

    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>
