<div class="well login-well">
  <label class="login-label">Volunteer</label>
  <a class="login-link" href="../volunteer/register"> Sign in</a>
  <label class="login-label">Nonprofits</label>
  <a class="login-link" href="../nonprofit/register"> Sign in</a>
</div>
