<div class="well login-well">
  <label class="login-label">Volunteer</label>
  <a class="login-link" href="../volunteers/login"> Sign in</a>
  <label class="login-label">Nonprofits</label>
  <a class="login-link" href="../nonprofits/login"> Sign in</a>
</div>
