<% layout('index') -%>
<div class="row">
   <div>
    <ul class="nav nav-tabs nav-justified" id="tabs-first">
      <li class="active"><a data-toggle="tab" href="#volunteer"><strong>Volunteers</strong></a></li>
      <li><a data-toggle="tab" href="#nonprofit"><strong>Nonprofits</strong></a></li>
      <li><a data-toggle="tab" href="#register"><strong>Register</strong></a></li>
      <li><a data-toggle="tab" href="#login"><strong>Login</strong></a></li>
    </ul>
  </div>
  <div class="tab-content content-bar">
    <div id="volunteer" class="tab-pane fade in active">
      <div class="col-md-5 div-display">
        <p>Are you looking for opportunities to give back to the community? Register on Altruist and be matched with opportunities at nonprofits in your area.</p>
      </div>
      <img class="div-display" src="http://s.hswstatic.com/gif/volunteer-in-nursing-home-1.jpg">
    </div>
    <div id="nonprofit" class="tab-pane fade">
      <div class="col-md-4 div-display">
        <p>Is your organization looking for volunteers? Register on Altruist and find people who are looking to give back to their community by sharing their time and talents.</p>
      </div>
      <img class="div-display" src="http://jacksonville.com/sites/default/files/imagecache/superphoto/13604807.jpg">
    </div>
    <div id="register" class="tab-pane fade">
      <div class="col-md-6">
        <img src="http://jacksonville.com/sites/default/files/imagecache/superphoto/13604807.jpg">
      </div>
      <div class="well col-md-offset-2 div-display">
        <h3>Register</h3>
        <label class="login-label"><a class="login-link" href="../volunteers/register">Create a volunteer account</a></label>
        <label class="login-label"><a class="login-link" href="../nonprofits/register">Create a nonprofit account</a></label>
      </div>
    </div>
    <div id="login" class="tab-pane fade ">
      <div class="col-md-6">
        <img src="http://jacksonville.com/sites/default/files/imagecache/superphoto/13604807.jpg">
      </div>
      <div class="well col-md-offset-3 div-display">
        <h3>Login</h3>
        <label class="login-label"><a class="login-link" href="../volunteers/login">Volunteer Login</a></label>
        <label class="login-label"><a class="login-link" href="../nonprofits/login">Nonprofit Login</a></label>
      </div>
    </div>
  </div>
</div>
