<% layout('../index')%>
<div class="well login-well">
  <h3>Register</h3>
  <label class="login-label">Create a volunteer account</label>
  <a class="login-link" href="../volunteers/register"> Register</a>
  <label class="login-label">Create a Nonprofit account</label>
  <a class="login-link" href="../nonprofits/register"> register_route</a>
</div>
