<% layout('../index') %>
<% var edit = profile.user_name ? `${profile.user_name}?_method=PUT`: '' %>
<div class="container col-mid-2">
  <p><%= JSON.stringify(profile)%></p>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h1><%= title%></h1>
    </div>
    <div class="col-md-4">
      <div class="col-md-6 text-center">
        <a href="#">Dashboard</a>
      </div>
      <div class="col-md-6 text-center">
        <a href="#">Edit</a>
      </div>
    </div>
  </div>
  <div class="row"><br></div>
  <div class="row text-center">
    <div class="col-md-6">
      <h3>Skills / Services:</h3>
    </div>
    <div class="col-md-6">
      <h3>Comments:</h3>
    </div>
  </div>
  <div class="row">
    <br>
  </div>
<div class="row text-center">
    <div class="col-md-6">
        <div class="col-md-4">
            <p>Teaching</p>
        </div>
        <div class="col-md-4">
            <p>Sitting</p>
        </div>
        <div class="col-md-4">
            <p>Gardening</p>
        </div>
        <div class="col-md-4">
            <p>Teaching</p>
        </div>
        <div class="col-md-4">
            <p>Sitting</p>
        </div>
        <div class="col-md-4">
            <p>Gardening</p>
        </div>
    </div>
    <div class="col-md-6 text-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row">
  <table class="table table-hover">
    <tr>
      <th>Date</th>
      <th>Feedback</th>
      <th></th>
    </tr>
    <tr>
      <td>4/10/17</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</td>
    </tr>
    <tr>
      <td>4/15/17</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</td>
    </tr>
  </table>
</div>
  <div class="row"><br></div>
  <div class="row"><br></div>
  <div class="row"><br></div>
  <div class="row"><br></div>
  <div class="row"><br></div>
  <div class="row"><br></div>

</div>
