<% layout('../index') %>
<div class="container col-mid-2">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h1><%= title%></h1>
    </div>
    <div class="col-md-4">
      <div class="col-md-6 text-center">
      </div>
      <div class="col-md-6 text-center">
        <a href="#">View Profile</a>
      </div>
    </div>
  </div>
  <div class="row"><br></div>
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <h3>List of Volunteer Events</h3>
      <table class="table table-bordered">
      <tr>
        <th>Start Date/Time</th>
        <th>Start Date/Time</th>
        <th>Duration</th>
        <th>Service</th>
        <th>Cancel</th>
      </tr>
      <tr>
        
      </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>

</div>
